.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    column-gap: 70px;
}

@media (max-width: 450px) {
    .grid {
        width: 100%;
    }
}

.card {
    margin-bottom: 4rem;
    padding: 5px 5px 20px;
    color: inherit;
    text-decoration: none;
    width: 100%;
    max-width: 500px;
    flex: auto;
    align-self: flex-start;
    background: #eee;
}

@media (min-width: 700px) {
    .card {
        width: 47%;
    }
}
@media (min-width: 1200px) {
    .card {
        /*width: 30%;*/
    }
}
.card a img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.info {

}

.card .title {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0;
    background: #FFF;

}

.card .title a  {
    text-decoration: none;
}

.card p.text {
    margin: 0 0 10px;
    padding: 0 20px;
    line-height: 1.5rem;
}


.detail_section {
    flex: auto;
    align-self: flex-start;
}
.detail_section p {
    max-width: 400px;
}

