.nav_wrap {
    /*max-width: 300px;*/
    /*padding: 30px 0 30px;*/
    /*float: right;*/
    /*width: 70%;*/
    /*border-top: 5px solid #31051f;*/
    /*border-bottom: 5px solid #31051f;*/
    text-align: right;
    padding: 0 0 10px;
}

.nav_sticky {
    position: fixed;
    width: 100%;
    background: #FFF;
    z-index: 100;
    padding: 0;
    border-bottom: solid 5px #444;
}

.logo_wrap{
    /*max-width: 1200px;*/
    /*float: left;*/
    /*width: 30%;*/
    /*margin: 0 auto;*/
    margin: 0 30px 0 0;
    padding: 30px 0 0;

}

.logo_sticky {
    padding-top: 80px;
}

.main {
    padding: 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
    /*flex: 1;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.intro {
    /*background: #F3F3F3;*/
    border-bottom: 1px solid #A7A7A7;
    max-width: 1165px;
    margin: 0 auto;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 1rem;
}

@media (max-width: 450px) {
    .grid {
        width: 100%;
        /*flex-direction: column;*/
    }
}


.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


