/* logo and header info */

.logo {
  text-align: center;
  padding: 30px 30px 15px;
}

.about {
  text-align: center;
  padding: 0 0 10px;
}

/* Navigation */

.nav {
  text-align: center;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.nav a {
  flex: auto;
  color: #444 !Important;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background: #f6f6f6;
  width: 33.33%;
}

.nav a:hover {
  background: #EEE;
}

/* title and description */
