/* logo and header info */
.logo p {
  color: #595959;
  margin: 0 auto;
  padding: 0 0 0 5px;
  font-family: courier, monospace;
  text-align: center;
  letter-spacing: 1px;
}

.logo h1 {
  margin: 0 auto 10px;
  padding: 0 0 10px 5px;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  color: #1F5E6E;
  border-bottom: 2px solid #EFE9DE;
  width: auto;
  max-width: 370px;
}


.about {
  margin: 10px 0 0;
  text-align: center;
  color: #595959;
  padding: 0 0 0 5px;
}

.about a {
  color: #B5563F;
}

.about a:hover {
  color: #8C4230;
}

.about p {
  margin: 0 0 10px;

}
.about span {
  color: #8a8a8a;
}
